<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="header-title">Quintrox Forcasting</h3>
        </div>

        <div class="content">
            <button class="forecast-button" id="time">Time preference</button>
            <button class="forecast-button" id="analysis">Analysis</button>
            <button class="forecast-button" id="forecasting">Forcasting</button>
            <button class="forecast-button" id="strategy">Stratergy</button>
        </div>

        

    </div>
    <h3>Forcasting the data</h3>
    <p>This is the forcasting page content.</p>

    <script src="../static/js/script.js"></script>
</body>
</html>